# macOS system files
.DS_Store

# Virtual environments
.venv/
.conda/

# Python cache
__pycache__/
*.pyc

# ignoring everything in these folders
data/processed/*
output/*

# but allow these files:
!data/processed/renewables_clean.csv

!output/renewable_trends.png
!output/summary_overall.csv
!output/summary_by_country.csv